*{
  font-family: 'Varela Round', sans-serif;
}
::placeholder{
  color: #fff;
  opacity: 70%;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
p{
  visibility: hidden;
}
#link{
  text-decoration: none;
  color: #6353CA;
}
#link:hover{
  text-decoration: underline;
}
.Night{
  height: 100vh;
  background-image: linear-gradient(#18214E,#222F6D,#445CC5,#5369CA);
  position:relative;
  display: flex;
  flex-wrap: wrap;
}
.Title0{
  visibility: hidden;
}
.Title1{
  color: #fff;
  font-size: 200%;
  text-align: center;
  position: absolute;
  left: 2rem;
  top: 1rem;
  z-index: 3;
  opacity: 0%;
  animation: fadein 2s;
  animation-fill-mode: forwards;
}
.Title2{
  color: #fff;
  font-size: 200%;
  text-align: center;
  position: absolute;
  left: 2rem;
  top: 1rem;
  z-index: 3;
  animation: fadeaway 2s;
  animation-fill-mode: forwards;
}
.Title3{
  color: #fff;
  font-size: 200%;
  text-align: center;
  position: absolute;
  left: 2rem;
  top: 1rem;
  z-index: 3;
  animation: fadein 2s;
  animation-fill-mode: forwards;
}
.Title4{
  color: #fff;
  font-size: 200%;
  text-align: center;
  position: absolute;
  left: 2rem;
  top: 1rem;
  z-index: 3;
  animation: fadeaway 2s;
  animation-fill-mode: forwards;
}
.Title5{
  color: #fff;
  font-size: 200%;
  text-align: center;
  position: absolute;
  left: 2rem;
  top: 1rem;
  z-index: 3;
  animation: fadein 2s;
  animation-fill-mode: forwards;
}
.Title6{
  color: #fff;
  font-size: 200%;
  text-align: center;
  position: absolute;
  left: 2rem;
  top: 1rem;
  z-index: 3;
  animation: fadeaway 2s;
  animation-fill-mode: forwards;
}
h1{
  margin: 0%;
  font-family: 'Satisfy', cursive;  
}
h4{
  margin: 0%;
  font-family: 'Varela Round', sans-serif;
  font-size: 75%;
}
.sky{
  width: 10%;
  position: absolute;
  right: 4rem;
}
.cloud1{ 
  background-color: #2C3C8C;
  height: 20px;
  width: 200px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 7rem;
  right: 4rem;
}
.cloud2{ 
  background-color: #2C3C8C;
  height: 15px;
  width: 150px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 8rem;
  right: 6rem;
}
.cloud3{ 
  background-color: #2C3C8C;
  height: 15px;
  width: 150px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 6rem;
  right: -6.5rem;
}
.cloud4{ 
  background-color: #2C3C8C;
  height: 10px;
  width: 90px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 6.8rem;
  right: -5rem;
}
.cloud5{ 
  background-color: #2C3C8C;
  height: 13px;
  width: 50px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 2.5rem;
  right: 19rem;
}
.cloud6{ 
  background-color: #2C3C8C;
  height: 15px;
  width: 80px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 2rem;
  right: 20rem;
} 
.cloud8{ 
  background-color: #2C3C8C;
  height: 20px;
  width: 125px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 7rem;
  right: 39rem;
}
.cloud7{ 
  background-color: #2C3C8C;
  height: 20px;
  width: 200px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 8rem;
  right: 36rem;
} 
.moon{
  background-color: #ffffff;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.spot1{
  background-color: #d7d7d7;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 3.5rem;
  right: 6rem;
}
.spot2{
  background-color: #d7d7d7;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 2rem;
  right: 2.5rem;
}
.spot3{
  background-color: #d7d7d7;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 5.2rem;
  right: 3.5rem;
}
.content0{
  visibility: hidden;
  width: 0%;
  height: 0%;
}
.content{
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: rgb(1, 0, 0, 40%);
  top: 25vh;
  left: 15vw;
  z-index: 4;
  animation: bigbubble 3s;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  opacity: 0%;
  backdrop-filter: blur(4px);
  
}
.box1a{
  position: absolute;
  top: 5%;
  left: 5.5%;
  z-index: 5;
  width: 18%;
  height: 38%;
  background-image: url(../images/pfp3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
  animation: bubble1a 3s;
  animation-fill-mode: forwards;
  opacity: 0%;
  animation-delay: 1100ms;
  backdrop-filter: blur(1px);
}
.box1{
  position: absolute;
  top: 5%;
  left: 5.5%;
  z-index: 5;
  width: 18%;
  height: 38%;
  background-image: url(../images/pfp3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
  animation: bubble1 3s;
  animation-fill-mode: forwards;
  opacity: 0%;
  animation-delay: 600ms;
  backdrop-filter: blur(1px);
}
.box1b{
  position: absolute;
  top: 5%;
  left: 5.5%;
  z-index: 5;
  width: 18%;
  height: 38%;
  background-image: url(../images/pfp3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
  animation: popping 3s;
  animation-fill-mode: forwards;
  backdrop-filter: blur(1px);
}
.box2a{
  top: 5%;
  left: 25.5%;
  position: absolute;
  width: 68%;
  height: 38%;
  background-color: rgb(0, 0, 0, 10%);
  margin: 0 2% 0 2%;
  animation: bubble1a 3s;
  animation-delay: 1200ms;
  animation-fill-mode: forwards;
  opacity: 0%;
  backdrop-filter: blur(1px);
} 
.box2{
  top: 5%;
  left: 25.5%;
  position: absolute;
  width: 68%;
  height: 38%;
  background-color: rgb(0, 0, 0, 10%);
  margin: 0 2% 0 2%;
  animation: bubble1 3s;
  animation-delay: 700ms;
  animation-fill-mode: forwards;
  opacity: 0%;
  backdrop-filter: blur(1px);
} 
.box2b{
  top: 5%;
  left: 25.5%;
  position: absolute;
  width: 68%;
  height: 38%;
  background-color: rgb(0, 0, 0, 10%);
  margin: 0 2% 0 2%;
  animation: popping 3s;
  animation-fill-mode: forwards;
  backdrop-filter: blur(1px);
} 
.box2a p{
  color: #fff;
  margin: 2% 5.5% 1% 5%;
  line-height: 250%;
  font-size: calc(.5vw + .5vh + .25vmin);
  opacity: 0;
  animation: fade 5s;
  animation-fill-mode: forwards;
  text-overflow: clip;
}
.box2a span{
  font-size: calc(.35vw + .35vh + .25vmin);
  font-style: italic;
}
.box2 p{
  color: #fff;
  font-size: calc(.5vw + .5vh + .25vmin);
  margin: 2% 5.5% 0 5%;
  line-height: 250%;
  opacity: 0;
  animation: fade 5s;
  animation-fill-mode: forwards;
}
.box2 span{
  font-size: calc(.35vw + .35vh + .25vmin);
  font-style: italic;
}
.box3a{
  top: 48%;
  left: 5.5%;
  position: absolute;
  width: 90%;
  height: 47%;
  background-color: rgb(0, 0, 0, 10%);;
  animation: bubble1a 3s;
  animation-delay: 1300ms;
  animation-fill-mode: forwards;
  opacity: 0%;
  backdrop-filter: blur(1px);
}
.box3{
  top: 48%;
  left: 5.5%;
  position: absolute;
  width: 90%;
  height: 47%;
  background-color: rgb(0, 0, 0, 10%);;
  animation: bubble1 3s;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
  opacity: 0%;
  backdrop-filter: blur(1px);
} 
.box3b{
  top: 48%;
  left: 5.5%;
  position: absolute;
  width: 90%;
  height: 47%;
  background-color: rgb(0, 0, 0, 10%);;
  animation: popping 3s;
  animation-fill-mode: forwards;
  backdrop-filter: blur(1px);
} 
.box3a p{
  color: #fff;
  font-size: calc(.5vw + .5vh + .25vmin);
  margin: 2% 5.5% 0 5%;
  line-height: 250%;
  opacity: 0;
  animation: fade 5s;
  animation-fill-mode: forwards;

}
.box3 p{
  color: #fff;
  font-size: calc(.5vw + .5vh + .25vmin);
  margin: 2% 5.5% 0 5%;
  line-height: 250%;
  opacity: 0;
  animation: fade 5s;
  animation-fill-mode: forwards;

}

.box4{
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 4;
  width: 90%;
  height: 90%;
  animation: bubble2 3s;
  animation-fill-mode: forwards;
  opacity: 0%;
  animation-delay: 500ms;
  backdrop-filter: blur(1px);
}
.box4b{
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 4;
  width: 90%;
  height: 90%;
  animation: popping 3s;
  animation-fill-mode: forwards;
  backdrop-filter: blur(1px);
}


 .box6{
  top: 5%;
  left: 5%;
  z-index: 5;
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: rgb(0, 0, 0, 75%);
  transition: .3s ease;
  animation: bubble2b 3s;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
  opacity: 0%;
  backdrop-filter: grayscale(50%) blur(2px);
  border-radius: 25px;
  visibility: hidden;
  
} 
.box6 p{
  color: #fff;
  font-size: calc(1vw + 1vh + .25vmin);
  margin: 2% 5.5% 0 5%;
  line-height: 200%;
  opacity: 0;
  animation: fade2 5s;
  animation-fill-mode: forwards;
}  
.box6:hover{
  opacity: 1;
}

.box7 .icon{
  width: 6rem;
  height: 6rem;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 15%;
  animation: bubble3 3s;
  animation-fill-mode: forwards;
  opacity: 0%;
  animation-delay: 550ms;
}
.box7b .icon{
  width: 6rem;
  height: 6rem;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 15%;
  animation: popping 3s;
  animation-fill-mode: forwards;
}

.box8{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    top: 5%;
    left: .5%;
    position: absolute;
    width: 95%;
    height: 90%;
    background-color: rgb(0, 0, 0, 10%);
    margin: 0 2% 0 2%;
    animation: bubble3 3s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    opacity: 0%;
    backdrop-filter: blur(1px);
    border-radius: 20px;
} 
.box8b{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  top: 5%;
  left: .5%;
  position: absolute;
  width: 84%;
  height: 90%;
  background-color: rgb(0, 0, 0, 10%);
  margin: 0 2% 0 2%;
  animation: popping 3s;
  animation-fill-mode: forwards;
  backdrop-filter: blur(1px);
  border-radius: 20px;
} 
.box8 p{
  color: #fff;
  font-size: calc(.8vw + .8vh + .3vmin);
  margin: 5% 5.5% 0 5%;
  line-height: 10px;
  opacity: 0;
  animation: fade3 5s;
  animation-fill-mode: forwards;

}
.box8 form{
  opacity: 0;
  animation: fade3 5s;
  animation-fill-mode: forwards;

}
.box8b form{
  visibility: hidden;
}
.box9 .icon{
  width: 6rem;
  height: 6rem;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 35%;
  animation: bubble3 3s;
  animation-fill-mode: forwards;
  opacity: 0%;
  animation-delay: 600ms;
} 
.box9b .icon{
  width: 6rem;
  height: 6rem;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 35%;
  animation: popping 3s;
  animation-fill-mode: forwards;
} 

.box10 .icon{
  width: 6rem;
  height: 6rem;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 55%;
  animation: bubble3 3s;
  animation-fill-mode: forwards;
  opacity: 0%;
  animation-delay: 650ms;
}
.box10b .icon{
  width: 6rem;
  height: 6rem;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 55%;
  animation: popping 3s;
  animation-fill-mode: forwards;
}
.box11 .icon{
  width: 6rem;
  height: 6rem;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 75%;
  animation: bubble3 3s;
  animation-fill-mode: forwards;
  opacity: 0%;
  animation-delay: 700ms;
}
.box11b .icon{
  width: 6rem;
  height: 6rem;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 75%;
  animation: popping 3s;
  animation-fill-mode: forwards;
}

.icon :hover{
  color: #6353CA;
}
.water{
  background-color: #2C3C8C;
  display: flex;
  height: 33%;
  width: 100vw;
  z-index: 1;
  position: relative;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
}
.waves1{
  position: absolute;

  animation: ripple1 3.55s ;
  border-radius: 100%;
  border: none;
  background-color: #2C3C8C;
  box-shadow: inset 10px 10px 20px #2C226E, inset -10px -10px 20px #2C3C8C;
  transition: 0.5s ease-in all;
  opacity: 0;
  z-index: 1;
}
.waves2{
  position: absolute;

  animation: ripple2 3.5s ;
  border-radius: 100%;
  border: none;
  background-color: #2C3C8C;
  box-shadow: inset 10px 10px 20px #2C226E, inset -10px -10px 20px #2C3C8C;
  transition: 0.33s ease-in all;
  opacity: 0;
  z-index: 1;
}
.waves3{
  position: absolute;

  animation: ripple3 3.5s ;
  border-radius: 100%;
  border: none;
  background-color: #2C3C8C;
  box-shadow: inset 10px 10px 20px #2C226E, inset -10px -10px 20px #2C3C8C;
  transition: 0.33s ease-in all;
  opacity: 0;
  z-index: 1;
}
.land1{
  position: absolute;
  display: inline-block;
  align-self: center;
  width: 50%;
}
.land2{
  position: absolute;
  display: inline-block;
  align-self: center;
  right: 1rem;
  width: 50%;
}
.mountain1{
  width: 350px;
  height: 175px;
  position: absolute;
  background-color: #2C226E;
  z-index: 0;
  border-radius: 200px 200px 0 0;
  bottom:-10rem;
  left: -5rem;
}

.mountain2{
  width: 150px;
  height: 120px;
  position: absolute;
  background-color: #2C226E;
  z-index: 0;
  border-radius: 220px 3000px 0 0;
  bottom:-9rem;
  left: 12rem;
}

.mountain3{
  width: 150px;
  height: 80px;
  position: absolute;
  background-color: #32267d;
  z-index: 3;
  border-radius: 10rem 10rem 0 0;
  bottom:-8.3rem;
  left: -2.5rem;
}
.mountain4{
  width: 90px;
  height: 40px;
  position: absolute;
  background-color: #32267d;
  z-index: 2;
  border-radius: 10rem 10rem 0 0;
  bottom:-8.25rem;
  left: 13rem;
}
.mountain5{
  width: 250px;
  height: 115px;
  position: absolute;
  background-color: #2C226E;
  z-index: 0;
  border-radius: 250px 150px 0 0;
  bottom:-9rem;
  right: -7rem;
}
.mountain6{
  width: 240px;
  height: 120px;
  position: absolute;
  background-color: #2C226E;
  z-index: 0;
  border-radius: 300px 300px 0 0;
  bottom:-11rem;
  right: 2.5rem;
}
.mountain7{
  width: 160px;
  height: 40px;
  position: absolute;
  background-color: #32267d;
  z-index: 2;
  border-radius: 300% 50% 0 0;
  bottom:-8rem;
  right: -2rem;
}
#form{
  display: block;
  width: 75%;
  height: 60%;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#name{
  background-color: rgb(0, 0, 0, 10%);
  color: #fff;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}
#email{
  background-color: rgb(0, 0, 0, 10%);
  color: #fff;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}
#message{
  background-color: rgb(0, 0, 0, 10%);
  color: #fff;
  width: 100%;
  height: 5rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
}

#submit{
  width: 40%;
  background-color: rgb(0, 0, 0, 10%);
  border: 1px solid #ccc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 20px;
  cursor: pointer;
  
}

#submit:hover {
  background-color: #6353CA;
}

/* .navbar{
  width: 50%;
  height: 10%;
  position: absolute;
  left: 45%;
  top: -25%;
  z-index: 4;
 
}
.navbutt{
  z-index: 4;
  background-color: #2C3C8C;
  border-color: #2C3C8C ;
  width: 15em;
  height: 7em;
  border-radius: 50%
}
.navbox{
  z-index: 4;
  background-color: black;
  opacity: 50%;
  width: 100%;
  height: 7em;
} */
@keyframes ripple1 {
  0% {
     width: 20px;
     height: 20px;
     opacity: 1;
  }
  100% {
     width: 1600px;
     height: 200px;
     opacity: 0;
  }
}
@keyframes ripple2 {
  0% {
     width: 20px;
     height: 20px;
     opacity: 1;
  }
  100% {
     width: 1600px;
     height: 200px;
     opacity: 0;
  }
}
@keyframes ripple3 {
  0% {
     width: 20px;
     height: 20px;
     opacity: 1;
  }
  100% {
     width: 1600px;
     height: 200px;
     opacity: 0;
  }
}
.water .waves1:nth-child(1) {
  animation-delay: 500ms;
}

.water .waves1:nth-child(2) {
  animation-delay: 700ms;
}

.water .waves1:nth-child(3) {
  animation-delay: 900ms;
}

.water .waves1:nth-child(4) {
  animation-delay: 1100ms;
}

.water .waves1:nth-child(5) {
  animation-delay: 1300ms;
}
.water .waves2:nth-child(1) {
  animation-delay: 500ms;
}

.water .waves2:nth-child(2) {
  animation-delay: 700ms;
}

.water .waves2:nth-child(3) {
  animation-delay: 900ms;
}

.water .waves2:nth-child(4) {
  animation-delay: 1100ms;
}

.water .waves2:nth-child(5) {
  animation-delay: 1300ms;
}
.water .waves3:nth-child(1) {
  animation-delay: 500ms;
}

.water .waves3:nth-child(2) {
  animation-delay: 700ms;
}

.water .waves3:nth-child(3) {
  animation-delay: 900ms;
}

.water .waves3:nth-child(4) {
  animation-delay: 1100ms;
}

.water .waves3:nth-child(5) {
  animation-delay: 1300ms;
}
@keyframes bigbubble{
  0%{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 85vh;
    left: 50vw;
    opacity: 0%;
    visibility: visible;
  }
  70%{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    left:100vh;
  }
  100%{
    border-radius: 50px;
    opacity: 100%;
  }
}

@keyframes bubble1a{
  0%{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    top: 50vh;
    left: 5vw;
    opacity: 30%;
  }
  50%{
    top:70px;
    left: 50%;
    border-radius: 100%;
  }
  80%{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
  }
  100%{
    border-radius: 50px;
    opacity: 100%;
  }
}
@keyframes bubble1{
  0%{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    top: 55vh;
    left: 35vw;
    opacity: 30%;
  }
  50%{
    top:70px;
    left: 50%;
    border-radius: 100%;
  }
  80%{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
  }
  100%{
    border-radius: 50px;
    opacity: 100%;
  }
}@keyframes bubble2{
  0%{
    visibility: visible;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    top: 55vh;
    left: 35vw;
    opacity: 30%;
  }
  50%{
    top:70px;
    left: 50%;
    border-radius: 100%;
  }
  80%{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
  }
  100%{
    visibility: visible;
    border-radius: 25px;
    opacity: 100%;
  }
}
@keyframes bubble2b{
  0%{
    width: 0%;
    height: 0%;
    visibility: hidden;
  }
  90%{
    width: 0%;
    height: 0%;
    visibility: hidden;
  }
  100%{
    visibility: visible;
    border-radius: 25px;
  }
}
@keyframes bubble3{
  0%{
    visibility: visible;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    top: 55vh;
    left: 35vw;
    opacity: 30%;
  }
  50%{
    top:70px;
    left: 50%;
    border-radius: 100%;
  }
  80%{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
  }
  100%{
    opacity: 100%;
  }
}
@keyframes fade{
  0%{opacity: 0%;}
  80%{
    opacity: 0%;
    visibility: visible;
  }
  100%{opacity: 100%;
    visibility: visible;}
}
@keyframes fade2{
  0%{opacity: 0%;}
  80%{
    opacity: 0%;
    visibility: visible;
  }
  100%{opacity: 100%;
    visibility: visible;}
}
@keyframes fade3{
  0%{opacity: 0%;}
  80%{
    opacity: 0%;
    visibility: visible;
  }
  100%{opacity: 100%;
    visibility: visible;}
}
@keyframes fadeaway{
  0%{opacity: 100%;}
  100%{
    opacity: 0%;
    left: 5em;
    visibility: hidden;
  }
}
@keyframes fadein{
  0%{
    opacity: 0%;
    left: -2em;
  }
  100%{opacity: 100%;}
}
@keyframes popping{
  0%{
    border-radius: 100%;
    
  }
  20%{
    opacity: 40%;
    border-radius: 100%;
    width: 8px;
    height: 8px;
  }
  100%{
    opacity: 0%;
    visibility: hidden;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    top: -50%;
    left: 50%;
  }
}